{% extends 'base.html.twig' %}

{% block title %}Accueil - Bucket-List{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Bienvenue sur Bucket-List !</h2>
                    <p class="lead">Ceci est la page d'accueil de votre application de liste de rêves.</p>
                    <p>Créez votre liste de toutes les choses que vous souhaitez accomplir dans votre vie !</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
